html {
    font-size: 16px;
  }
  
  html, body {
    min-width: 290px;
    color: #4d4e53;
    font-family: 'Open sans', Arial, san-serif;
    line-height: 1.5em;
  }
  
  body {
    margin:0px 0px 0px 250px;
    padding: 25px;
  }
  
  section article {
    color: #4d4d53;
    margin: 15px;
    font-size: 1em;
    text-align: justify;
  }
  
  section {
    display: block;
  }
  
  .sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0px;
    left: 0px;
    overflow-x: hidden;
    padding-top: 25px;
    border: solid;
    border-color: rgba(0, 22, 22, 0.4)
  }
  
  .sidebar a {
    text-decoration: none;
    display: block;
    line-height: 1.5em;
    color: #4d4e53;
  }
  
  nav {
    display: block;
  }
  
  #navbar li {
    border-top: 2px  solid;
    width: 100%;
    border-color: rgba(0, 22, 22, 0.4); 
  }
  
  .nav-link {
    margin: 0 0 0 0;
  }
  
  ul { list-style-type: none;
  }
  
  header {
    font-size: 1.25rem;
    font-weight: 700;
    margin: 0px 0px 0px 1px; 
  }
  
  .h-title {
    font-size: 1.27em;
    margin: 0px 0px 0px 15px;
  }
  
  .p-link {
    text-decoration: none;
  }
  
  .git {
    background-color: #d3d3d3;
    padding: 0 2px 0 2px;
    color: #4d4e53
  }
  
  img {
    width: 100%;
    height: auto;
    min-width: 200px;
  }
  
  .code-example {
    border: 1px solid;
    padding: 15px auto;
    background-color: #e5e4e2;
    border-color: #e5e4e2;
    border-radius: 12px;
  }
  
  pre {
    white-space: pre-wrap;
    word-break: break-all;
    padding: 0 25px 0 25px;
  }
  
  #in-react {
    list-style-type: circle;
    
  }
  
  .blue {
    color: #0f52ba;
  }
  
  .green {
    color: #4cbb17;
  }
  
  .red {
    color: #e30b5c;
  }
  
  .list-circle {
    list-style-type: circle;
  }
  
  a {
    text-decoration: none;
  }
  
  @media only screen and (max-width: 480px) {
    html {
      font-size: 14px;
    }
    
    .sidebar {
      position: fixed;
      display: block;
      z-index: 0;
      content: '';
    }
  } 
  
  @media screen and (max-width: 768px) {
    
  } 